NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=
AUTH_MODE=credentials
LICENSEDB_API_URL=http://localhost:8080/api/v1

OAUTH_NAME=Single Sign-On
OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=
OAUTH_WELL_KNOWN_URL=
OAUTH_SCOPE=openid profile email
OAUTH_AUTHORIZATION_URL=
OAUTH_TOKEN_URL=
OAUTH_USERINFO_URL=
OAUTH_PROFILE_ID_CLAIM=